/*Base*/

:root {
  --priomary-text-color: #212121;
  --secondary-text-color: #757575;

  --accent-color: #2196f3;
  --white: #ffffff;
  --background-color1: #2f303a;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--priomary-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  width: 1230px;
}

.body {
  color: var(--priomary-text-color);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

.text {
  margin: 0;
}
/* button */
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.button {
  cursor: pointer;
  border-radius: 4px;

  color: var(--priomary-text-color);
  background-color: #f5f4fa;
  border: transparent;
}
.current {
  color: var(--accent-color);
}

/* Хедер з навігацією */

.header {
  border: 1px solid #ececec;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-studio {
  color: #000000;
}

/* nav */
.main-nav {
  display: flex;
  align-items: center;
}

.header-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-color);
}
.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-nav-list .item + .item {
  margin-left: 50px;
}

.header-auth-nav {
  display: flex;
  margin-left: auto;
}

.header-auth-nav .item + .item {
  margin-left: 50px;
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

.header-mail-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

/* Герой */
.hero {
  left: -7px;
  top: 86px;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}
.overlay {
  margin-right: auto;
  margin-left: auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
  url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-color1);

}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;

}
.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  background: var(--accent-color);
  color: var(--white);

}

/* Особливості */
.features {
  padding-top: 94px;
}


.features-list {
  display: flex;
}

.features-list .item {
  width: 270px;
  margin-right: 30px;
}
.features-list .item::before {
  display: block;
  content: '';
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}


.features-list .item:last-child {
  margin-right: 0px;
}

.features-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/*Чим ми займаємося */
.activity {
  padding-top: 118px;
}

.activity-list {
  display: flex;
  padding-bottom: 94px;
}

.activity-list .item {
  margin-right: 30px;
}

.activity-list .item:last-child {
  margin-right: 0px;
}

.section-title {
  margin: 0;
  padding-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.title-team {
  padding-bottom: 50px;
}

.team-list .card {
  margin-right: 30px;
}

.team-list .card:last-child {
  margin-right: 0px;
}

.name-img {
  padding-bottom: 30px;
}

.name {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  padding-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.card {
  background: #ffffff;
}

/* footer */
.footer {
  padding-bottom: 60px;
  background-color: var(--background-color1);
}

.footer-logo {
  display: block;
  padding-top: 60px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio-w {
  color: var(--white);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white);
}
.link-contact {
  padding-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-contact:focus,
.link-contact:hover {
  color: var(--accent-color);
}
address {
  padding-top: 20px;
  font-style: normal;
}

/* Портфоліо */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.filter-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

/* Проекти */
.project-title {
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--priomary-text-color);
}

.project-item:nth-last-child(3n) {
  margin-right: 0;
}

.project-text {
  padding-bottom: 20px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.link-portfolio {
  color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
  padding-right: auto;
}


.projects-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list li:nth-child(3n) 
{ margin-right: 0;}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-item {
  border: 1px solid #eeeeee;
}
